<%- contentFor('body') %>

<h1>
  <% if (fornecedor.id) { %>
  Altera
  <% } else { %>
  Novo
  <% } %>
  Fornecedor
</h1>

<form action="/fornecedor/save" method="POST">

  <input type="hidden" name="id" value="<%= fornecedor.id %>" />


  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" name="nome" placeholder="Nome" value="<%= fornecedor.nome %>" />
  </div>

  <div class="form-group">
    <label>Nome Fantasia</label>
    <input type="text" class="form-control" name="nomeFantasia" placeholder="Nome Fantasia"
      value="<%= fornecedor.nomeFantasia %>" />
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" name="email" placeholder="E-mail" value="<%= fornecedor.email %>" />
  </div>

  <div class="form-group">
    <label>CNPJ</label>
    <input type="text" class="form-control" name="cnpj" placeholder="CNPJ" value="<%= fornecedor.cnpj %>"/>
  </div>

  <div class="form-group">
    <label>Telefone</label>
    <input type="hidden" name="telefoneId"
      value="<% if (fornecedor.telefones.length > 0) { %><%= fornecedor.telefones[0].id %><% } %>" />
    <input type="text" class="form-control" name="telefone" placeholder="Telefone"
      value="<% if (fornecedor.telefones.length > 0) { %><%= fornecedor.telefones[0].numero %><% } %>" />
  </div>

  <div class="form-group">
    <label>Celular</label>
    <input type="hidden" name="celularId"
      value="<% if (fornecedor.telefones.length > 1) { %><%= fornecedor.telefones[1].id %><% } %>" />
    <input type="text" class="form-control" name="celular" placeholder="Celular"
      value="<% if (fornecedor.telefones.length > 1) { %><%= fornecedor.telefones[1].numero %><% } %>" />
  </div>

  <fieldset class="form-group">
    <input type="hidden" name="enderecoId"
      value="<% if (fornecedor.endereco) { %><%= fornecedor.endereco.id %><% } %>" />
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>Cep</label>
        <input type="text" class="form-control" name="cep" placeholder="CEP"
          value="<% if (fornecedor.endereco) { %><%= fornecedor.endereco.cep %><% } %>" />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Rua</label>
        <input type="text" class="form-control" name="rua" placeholder="Rua"
          value="<% if (fornecedor.endereco) { %><%= fornecedor.endereco.rua %><% } %>" />
      </div>
      <div class="col-md-2 mb-3">
        <label>Número</label>
        <input type="number" class="form-control" name="numero" placeholder="Número"
          value="<% if (fornecedor.endereco) { %><%= fornecedor.endereco.numero %><% } %>" />
      </div>
      <div class="col-md-4 mb-3">
        <label>Bairro</label>
        <input type="text" class="form-control" name="bairro" placeholder="Bairro"
          value="<% if (fornecedor.endereco) { %><%= fornecedor.endereco.bairro %><% } %>" />
      </div>
      <div class="col-md-2 mb-3">
        <label>Estado</label>
        <input type="text" class="form-control" name="estado" placeholder="Estado"
          value="<% if (fornecedor.endereco) { %><%= fornecedor.endereco.estado %><% } %>" />
      </div>
      <div class="col-md-2 mb-3">
        <label>Cidade</label>
        <input type="text" class="form-control" name="cidade" placeholder="Cidade"
          value="<% if (fornecedor.endereco) { %><%= fornecedor.endereco.cidade %><% } %>" />
      </div>
    </div>
  </fieldset>

  <button type="submit" class="btn btn-primary">Salvar</button>

  <div class="clearfix"></div>
</form>